name: Static Analysis

on:
  workflow_call:
    secrets:
      API_KEY:
        required: true

env:
  JAVA_VERSION: 17
  GRADLE_VERSION: 8.8

permissions:
  pull-requests: write
  contents: read
  checks: write

jobs:
  analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Prepare Environment
        run: |
          chmod +x ./gradlew
          echo "API_KEY=${{ secrets.API_KEY }}" > local.properties

      - name: Cache Gradle
        uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Run Gradle Build
        run: ./gradlew build --parallel --configure-on-demand

      - name: Run Lint
        run: ./gradlew app:lintDebug --continue
        continue-on-error: true

      - name: Setup Reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Run Reviewdog for Lint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          find . -regex '^.*/build/reports/lint-results.*\.sarif$' -type f | while read file_path; do
            reviewdog -f=sarif -reporter=github-pr-review < "$file_path"
          done

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest --parallel

      - name: Publish Test Report
        if: cancelled() != true || failure()
        uses: dorny/test-reporter@v2
        with:
          name: "JUnit Test Report"
          path: '**/build/test-results/*/TEST-*.xml'
          reporter: 'java-junit'
          fail-on-error: false

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Run Reviewdog for Detekt
        if: failure()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cat ./build/reports/detekt.xml | reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review"
